{% extends "base.html" %}

{%load crispy_forms_tags %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}


<div class="container">
  <div class="col">
    <div class="col-md-8 mt-3 offset-md-2">
      <h1>{% trans "Sign In" %}</h1>
  
      <h5 class="text-center">If you have not created an account yet, then please
        <a href="{% url 'register' %}">create new account</a> first.
      </h5>
    </div>
  </div>

    <div class="col">
      <div class="col-md-8 mt-3 offset-md-2 d-flex justify-content-center">
        <form class="login" method="POST" action="{% url 'account_login' %}">
          {{ form|crispy }}
          {% csrf_token %}
          <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
          <button class="btn btn-primary d-grid col-8 mb-5 mx-auto" type="submit" style="margin-top: 10px; padding: 10px 30px;">{% trans "Sign In" %}</button>
        </form>
      </div>
    </div>
</div>

{% endblock %}