{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<!-- This is the sign out page where the user can sign out of their account -->

<div class="container">
  <div class="col">
    <div class="col-md-8 offset-md-2" style="margin-top: 5rem; margin-bottom: 4rem">


      <h1>{% trans "Sign Out" %}</h1>

      <h3 class="text-center"><strong>{% trans 'Are you sure you want to sign out?' %}</strong></h3>

    </div>
  </div>

  <div class="col">
    <div class="col-md-8 mt-3 offset-md-2">

      <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit" class="btn btn-primary d-grid col-4 mx-auto" style="margin-bottom: 4rem;">{% trans 'Sign Out' %}</button>
      </form>

    </div>
  </div>
</div>


{% endblock %}
