{% extends "base.html" %}

{%load crispy_forms_tags %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1 style="margin-top: 20px;">{% trans "Change Password" %}</h1>
    <p style="text-align: center; font-size: 24px; margin: 50px 0">
        {% trans 'Your password is now changed. Sign in with your new password.' %}
    </p>
    <a href="{% url 'account_login' %}" class="btn btn-primary col-1 d-grid mb-5 mx-auto" type="button" style="margin: 50px 0; padding: 10px 30px;">{% trans "Sign In" %}</a>
{% endblock %}
