{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="container">
  <div class="col">
    <div class="col-md-8 mt-3 offset-md-2">

      <h1>{% trans "Sign Up" %}</h1>

      <h5 class="text-center">{% blocktrans %} Welcome to GenStar Fitness! Already have an account? Then please <a
          href="{{ login_url }}">sign
          in</a>.{% endblocktrans %}
      </h5>

    </div>
  </div>

  <div class="col">
    <div class="col-md-8 mt-3 offset-md-2 d-flex justify-content-center">
      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit" class="btn btn-primary btn-sm d-grid col-6 mx-auto">{% trans "Sign Up" %} &raquo;</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
