aiosmtpd==1.4.4.post2
asgiref==3.7.2
atpublic==4.0
cloudinary==1.33.0
crispy-bootstrap5==0.7
cssselect2==0.7.0
dj-database-url==0.5.0
dj3-cloudinary-storage==0.0.6
Django==4.2.3
django-allauth==0.54.0
django-calendarium==1.3.4
django-crispy-forms==2.0
django-filer==3.0.3
django-libs==2.0.3
django-polymorphic==3.1.0
django-scheduler==0.10.1
django-tempus-dominus==5.1.2.17
easy-thumbnails==2.8.5
gunicorn==20.1.0
icalendar==5.0.7
lxml==4.9.3
oauthlib==3.2.2
Pillow==10.0.0
psycopg2==2.9.6
PyJWT==2.8.0
python3-openid==3.2.0
pytz==2023.3
reportlab==4.0.4
requests-oauthlib==1.3.1
sqlparse==0.4.4
svglib==1.5.1
aiosmtpd==1.4.4.post2
asgiref==3.7.2
atpublic==4.0
cloudinary==1.33.0
crispy-bootstrap5==0.7
cssselect2==0.7.0
dj-database-url==0.5.0
dj3-cloudinary-storage==0.0.6
Django==4.2.3
django-allauth==0.54.0
django-calendarium==1.3.4
django-crispy-forms==2.0
django-filer==3.0.3
django-libs==2.0.3
django-polymorphic==3.1.0
django-scheduler==0.10.1
django-tempus-dominus==5.1.2.17
easy-thumbnails==2.8.5
gunicorn==20.1.0
icalendar==5.0.7
lxml==4.9.3
mailtrap==2.0.1
oauthlib==3.2.2
Pillow==10.0.0
psycopg2==2.9.6
PyJWT==2.8.0
python3-openid==3.2.0
pytz==2023.3
reportlab==4.0.4
requests-oauthlib==1.3.1
sqlparse==0.4.4
svglib==1.5.1
