<title>GenStar Fitness Online Booking</title>
{% extends 'layout.html' %}
{% load static %}
{% block body %}

<!-- This is the booking page for the user where workout name and date are selected. -->

{% if user.is_authenticated %}
<h1 class="text-center  mt-3">Online Booking</h1>

<div class="shadow p-4 mb-5 bg-body bg-body rounded text-black  m-5">
    <form method="post" action="{% url 'booking' %}" class="me-2 ms-2" required>
        {% csrf_token %}

        <!--input workout-->
        <div>
            <h3 class="">Select Workout:</h3>
            <select class="form-select fs-3" name="workout">
                <option value="BODYATTACK">BODYATTACK</option>
                <option value="BODYBALANCE">BODYBALANCE</option>
                <option value="BODYCOMBAT">BODYCOMBAT</option>
                <option value="BODYPUMP">BODYPUMP</option>
                <option value="BODYSTEP">BODYSTEP</option>
            </select>

            <div class="mt-3">
                <h3 class="">Select Date:</h3>
                <input type="text" class="form-select fs-3 calendar" data-provide="datepicker-inline" data-date-format="yyyy-mm-dd" placeholder="Select Date" name="day" 
                data-date-today-highlight="true" data-date-days-of-week-highlighted="0,6" data-date-week-start="1" data-date-today-btn="true" data-date-autoclose="true" required>
            </div>

            <br/>
            <button type="submit" class="btn btn-primary text-white">Continue</button>
            <a href="{% url 'userPanel' %}" class="btn btn-primary text-white ms-3" style="padding: 6px 30px;">Back</a>
        </div>
    </form>
</div>

{% else %}

<div class="shadow p-4 mb-5 bg-body bg-body rounded text-black  m-5 ">
    <h1 class="p-2  me-3">You Are Not Signed in!</h1>
    <a href="{% url 'register' %}" class="btn btn-primary shadow text-center">Sign in</a>
</div>

{% endif %}

{% endblock %}