<title>GenStar Fitness</title>
{% extends 'layout.html' %}
{% load static %}
{% block body %}


{% if user.is_authenticated %}
<h1 class=" ms-5 mt-3 "> Welcome {{ user.username }}!</h1>

<div class="shadow p-4 mb-3 bg-body bg-body rounded text-black mt-5 m-5">
    <h2 class="">User Info:</h2>
    <ul class="list-group fs-4 mt-3">
            <li class="list-group mt-2">First Name: {{ user.first_name }}</li>
            <li class="list-group mt-2">Last Name: {{ user.last_name }}</li>
            <li class="list-group mt-2">Username: {{ user.username }}</li>
            <li class="list-group mt-2">Email: {{ user.email }}</li>
    </ul>
    <div class="row" style="display: inline-block;">
        <div class="mt-3 mb-2">
            <a class="btn btn-success rounded-3 p-2" href="{% url 'update_profile' %}" style="margin-right: 20px;">Edit Profile</a>
        </div>
    </div>
</div>


<div class="shadow p-4 mb-5 mt-1 bg-body bg-body rounded text-black m-5">
    <h1 class="text-center mb-3">My bookings:</h1>
    <a class="btn btn-primary rounded-3" href="{% url 'booking' %}">Book Workout</a>
    <hr>
    <div class="table-responsive-md border border-dark">
        <table class="table table-secondary table-bordered border-black table-striped table-hover mx-auto">
            <thead>
                <tr class="table-primary border-dark">
                    <th class="text-center" scope="col">Workout</th>
                    <th class="text-center" scope="col">Date / Time</th>
                    <th class="text-center" scope="col">Edit / Delete</th>
                </tr>
            </thead>
            <tbody id="myTable">
                {% for appointment in appointments %}
                <tr class="border-white">
                    <td class="text-center">{{appointment.workout}}</td>
                    <td class="text-center">{{appointment.day}} at {{appointment.time}}</td>
                    <td class="text-center edit-delete-btn">
                        <a href="{% url 'userUpdate' appointment.id %}"><i class="fa-regular fa-pen-to-square fa-xl" style="color: #3d9900; margin: 10px 0;"></i></a>
                        <i class="fa-solid fa-trash fa-xl fa-stack" style="color: #d10000;" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal_{{appointment.id}}"></i>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% for appointment in appointments %}
<!-- Modal -->
<div class="modal fade" id="confirmDeleteModal_{{appointment.id}}" tabindex="-1" caller-id="" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document"">
        <div class="modal-content confirm-delete">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Delete</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body fw-bold">
                Are you sure you want to delete this booking?
            </div>
            <div class="text-center fs-5">
                {{appointment.workout}} {{appointment.day}} {{appointment.time}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
                <a class="btn btn-danger" href="{% url 'delete' appointment.id %}">Delete booking</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% else %}

<div class="shadow p-4 mb-5 bg-body bg-body rounded text-black  m-5">
    <h1 class="p-2  ms-3">First Sign in!</h1>
    <a href="{% url 'login' %}" class="btn btn-primary text-white">Sign in</a>
</div>

{% endif %}

{% endblock %}