/* Navbar */

.navbar {
    background-color: #0126fa;
    border-bottom: 1px solid #000000;
    border-radius: 0;
    margin-bottom: 0;
    min-height: 50px;
    padding: 0;
    position: relative;
    z-index: 1000;
}

.navbar .navbar-brand {
    color: #ffffff;
}

.navbar .navbar-item {
    padding: 0.5rem 1rem;
}

.navbar a {
    color: #ffffff;
}

.dropdown-menu {
    background-color: #0126fa;
    border: 1px solid #000000;
    border-radius: 0;
    margin-top: 0;
    padding: 0;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #9fdaff;
}

.navbar .navbar-nav .nav-link {
    padding: 0.5rem 1rem;
}

.navbar .navbar-nav .nav-link:hover {
    background-color: #9fdaff;
}

.navbar .navbar-nav .nav-link.active {
    background-color: #9fdaff;
}

.navbar .navbar-nav .nav-link:focus {
    background-color: #9fdaff;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.offcanvas .offcanvas-lg {
    color: #ffffff;
    background-color: #0126fa;
    border: 1px solid #000000;
    border-radius: 0;
    margin-top: 0;
    padding: 0;
}

.offcanvas-body {
    padding: 0;
    color: #ffffff;
    background-color: #0126fa;
}

/* Carousel */

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-caption {
    top: 70%;
    transform: translateY(-50%);
}

.carousel-caption h5 {
    font-size: 4rem;
    font-family: 'Kaushan Script', cursive;
    background: #000;
    background: rgba(0, 0, 0, 0.5);
    padding: .5rem;
}

.carousel-caption p {
    font-size: 2rem;
    font-family: 'Kaushan Script', cursive;
    background: #000;
    background: rgba(0, 0, 0, 0.5);
    padding: .5rem;
}

/* Footer */

footer {
    background-color: #47a9ff;
}

footer a {
    color: #ffffff;
}

/* Calendar */

.calendar {
    background-color: #ffffff;
}
