{% extends 'base.html' %}

{% load static %}

{% block head_title %}Contact{% endblock %}

{% block content %}

<div class="container">
  <div class="col">
    <div class="col-md-8 mt-3 offset-md-2">
      <h1>Contact</h1>
      <h5 class="text-center">Visit or contact us!</h5>
    </div>
  </div>

<div class="container">
    <div class="col">
        <div class="col-md-8 mt-2 offset-md-1">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1758.5483644937285!2d20.32015998927918!3d63.84768114553425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x467c5b283b59d7df%3A0x7d30d380ae230eef!2zQmrDtnJudsOkZ2VuIDIxLCA5MDYgNDAgVW1lw6U!5e0!3m2!1sru!2sse!4v1690200814010!5m2!1sru!2sse"
                width="1000" height="450" style="border: solid 1px;" allowfullscreen="true" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>

<div class="container text-center">
    <div class="row">
      <div class="col" style="background-color: #47a9ff;">
        <h5 class="text-center">Address:</h5>
        <h5 class="text-center" style="color: aliceblue;"><strong>GenStar Fitness</strong></h5>
        <h5 class="text-center" style="color: aliceblue;"><strong>Björnvägen 21</strong></h5>
        <h5 class="text-center" style="color: aliceblue;"><strong>906 40 Umeå</strong></h5>
        <h5 class="text-center">Phone:</h5>
        <h5 class="text-center" style="color: aliceblue;"><strong>090-123 45 67</strong></h5>
        <h5 class="text-center">Email:</h5>
        <h5 class="text-center"><strong><a href="mailto:genstarfitness@gmail.com" style="color: aliceblue;">genstarfitness@gmail.com</a></strong></h5>
      </div>

      <div class="col" style="background-color: #47a9ff;">
        <form action="">
            <div class="col-md-8 mt-3 offset-md-2">
                <h5 class="text-center">Send us a message:</h5>
                <div class="mb-3">
                    <label for="name" class="form-label" style="color: aliceblue;">Name</label>
                    <input type="name" class="form-control" id="name" placeholder="Name" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label" style="color: aliceblue;">Email address</label>
                    <input type="email" class="form-control" id="email" placeholder="email" required>
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label" style="color: aliceblue;">Message</label>
                    <textarea class="form-control" id="message" rows="3" required></textarea>
                </div>
                <button class="btn btn-primary d-grid col-6 mx-auto" type="submit"
                    style="margin-top: 10px; margin-bottom: 10px; padding: 0px 30px;">Send</button>
            </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}