{% extends "base.html" %}

{% load static %}

{% block content %}

{% comment %} Carousel {% endcomment %}

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'img/modern-gym.webp' %}" class="d-block w-100" alt="Modern gym photo">
      <div class="carousel-caption d-none d-lg-block">
        <h5>Modern gym and cross-fit</h5>
        <p>Train as you wish - gym, cross-fit and workouts without limit!</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'img/running-fitness.webp' %}" class="d-block w-100" alt="Woman running on a running track">
      <div class="carousel-caption d-none d-lg-block">
        <h5>Individual or group training</h5>
        <p>We have best educated personal trainers and instructors in town</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'img/fitness-for-all-new.webp' %}" class="d-block w-100" alt="A group of people training in gym">
      <div class="carousel-caption d-none d-lg-block">
        <h5>Diverse workouts</h5>
        <p>We have most popular workouts for any groups and ages</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

{%endblock%}