{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Membership Page -->

<div class="md-6 text-center">
  <h1>Membership</h1>
  <h5>Choose membership that suits you most! </h5>
</div>
    
    <div class="row row-member row-cols-1 row-cols-md-4 g-4" style="margin-top: 10px;">
        <div class="col">
          <div class="card h-100" style="align-items: center;">
            <img src="{% static 'img/membership.jpg' %}" class="img-thumbnail mx-auto" alt="bronze-membership">
            <div class="card-body">
              <h5 class="card-title text-center">Standart</h5>
              <p class="card-text"><i class="fa-solid fa-thumbs-up"></i> Good choice for beginners!</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="fa-solid fa-square-check"></i> Train anytime you want!</li>
              <li class="list-group-item"><i class="fa-solid fa-square-check"></i> Group workouts!</li>
              <li class="list-group-item"><i class="fa-solid fa-square-check"></i> First personal trainer consultation for free!</li>
            </ul>
            <div class="membership-price text-center">
                <h4>€ 19.99</h4>
            </div>                
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Buy membership</a>
          </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100" style="align-items: center;">
            <img src="{% static 'img/membership.jpg' %}" class="img-thumbnail mx-auto" alt="silver-membership">
            <div class="card-body">
              <h5 class="card-title text-center">Student</h5>
              <p class="card-text"><i class="fa-solid fa-thumbs-up"></i> Perfect choice for students!</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="fa-solid fa-square-check"></i> Train anytime you want!</li>
              <li class="list-group-item"><i class="fa-solid fa-square-check"></i> Group workouts!</li>
              <li class="list-group-item"><i class="fa-solid fa-square-check"></i> First personal trainer consultation for free!</li>
            </ul>
            <div class="membership-price text-center">
                <h4>€ 14.99</h4>
            </div>    
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Buy membership</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100" style="align-items: center;">
            <img src="{% static 'img/membership.jpg' %}" class="img-thumbnail mx-auto" alt="gold-membership">
            <div class="card-body">
              <h5 class="card-title text-center">All Inclusive</h5>
              <p class="card-text"><i class="fa-solid fa-thumbs-up"></i> Exclusive membership for everyday training!</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="fa-solid fa-square-check"></i> Train anytime you want!</li>
              <li class="list-group-item"><i class="fa-solid fa-square-check"></i> Group workouts!</li>
              <li class="list-group-item"><i class="fa-solid fa-square-check"></i> Individual workout with instructor once per month!</li>
              <li class="list-group-item"><i class="fa-solid fa-square-check"></i> Personal trainer consultation once per month!</li>
            </ul>
            <div class="membership-price text-center">
                <h4>€ 99.99</h4>
            </div>    
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Buy membership</a>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
