{% extends "base.html" %}

{%load crispy_forms_tags %}

{% load i18n %}

{% block content %}

<!-- Register New Account Page -->

<div class="container">
  <div class="col">
    <div class="col-md-8 mt-3 offset-md-2">

      <h1>Register New Account</h1>

      <h5 class="text-center">Welcome to GenStar Fitness! Already have an account? Then please <a
          href="{% url 'account_login' %}">sign in</a>.
      </h5>

    </div>
  </div>

  <div class="col">
    <div class="col-md-8 mt-3 offset-md-2 d-flex justify-content-center">
      <form class="signup" id="signup_form" method="post" action="{% url 'register' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <!-- {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %} -->
        <button type="submit" class="btn btn-primary d-grid col-8 mb-5 mx-auto">{% trans "Sign Up" %} &raquo;</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
